.info-container {
  width: 80%;
  margin: 0 auto;
}

.info-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.info-p {
  margin-bottom: 25px;
  line-height: 28px;
  text-align: justify;
}

span {
  font-weight: bold;
}
