.bannersp {
  background-image: url(./images/product-banner.jpg);
  background-size: 80%;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.bannersp a {
  text-decoration: none;
  font-size: 20px;
  color: #eccc68;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.bannersp i {
  padding: 0px 3px;
  color: #eccc68;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
.banner-link {
  margin-left: 109px;
  background-color: black;
  padding: 7px;
  border-radius: 5px;
}
.product {
  max-width: 1325px;
  margin: 0 auto;
}
.product h1 {
  margin: 30px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
